.inputFormFields .inputWrapper {
    margin-bottom: var(--spacing);
}

.loginFooter p {
    color: var(--dark);
}

.loginFooter,
.registerFooter {
    display: flex;
    justify-content: space-between;
}