html, body {
  width: 100%;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

:root {
  --primary: #d32f2f;
  --primaryLight: #ff5f52;
  --primaryDark: #8e0000;
  --primaryBackground: #ffefee;
  --green: rgb(23, 191, 99);
  --light: #f2f2f2;
  --lightGrey: rgb(230, 236, 240);
  --darkGrey: rgba(0, 0, 0, 0.6);
  --grey: rgb(101, 119, 134);
  --greyButtonText: rgba(0, 0, 0, 0.34);
  --dark: #424242;
  --spacing: 15px;
  --borderRadius: 4px;
  --buttonBoxShadow: 1px 1px 3px var(--dark);
  --wrapperBoxShadow: 5px 5px 1px var(--dark);
}

input,
button {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}