.invitationListContainer {
    width: 100%;
}

.invitationListContainer .flatButton {
    width: 100%;
}

.invitationListContainer .flatButton .singleActionButton {
    pointer-events: all;
    padding: 6px;
    border-radius: var(--borderRadius);
    background-color: var(--lightGrey);
    color: var(--dark);
}

.invitationListContainer .flatButton .singleActionButton:nth-child(2) {
    margin-left: 10px;
}

.invitationListContainer .invitationDetails .recipientList {
    margin: unset;
    padding: unset;
}

.invitationListContainer .invitationDetails .recipientList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invitationListContainer .invitationDetails .recipientList hr {
    flex-grow: 1;
    margin: 0 var(--spacing);
}

.invitationListContainer .invitationDetails strong.invitationHeader {
    text-decoration: underline;
}