.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--primary);
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

.modalOverlay.stateAppear {
    opacity: 0.7;
    visibility: visible;
}

.modalFrame {
    padding: var(--spacing);
    box-shadow: var(--wrapperBoxShadow);
    border-radius: var(--borderRadius);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 500px;
    height: 500px;
    opacity: 0;
    visibility: hidden;
    z-index: 3;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

.modalFrame.stateAppear {
    opacity: 1;
    visibility: visible;
}

.modalFrame .modalCloseBtn {
    position: absolute;
    top: var(--spacing);
    right: var(--spacing);
    background-color: var(--primary);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: white;
    transition: background-color 0.2s ease-out;
}

.modalFrame .modalCloseBtn:hover {
    background-color: var(--primaryLight);
}

.modalFrame .modalCloseBtn i {
    vertical-align: middle;
}