.pictureAvatarWrapper {
    height: 42px;
    width: 42px;
}

.pictureAvatarWrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--primaryDark);
}

.pictureAvatarWrapper.secondary img {
    border: 3px solid var(--green);
}

.pictureAvatarWrapper.tertiary img {
    border: 3px solid var(--lightGrey);
}