.messageComposeContainer {
    display: flex;
    box-shadow: 0px 0px 10px var(--grey);
}

.messageComposeContainer .inputWrapper br {
    display: none;
}

.messageComposeContainer .inputWrapper input {
    margin: unset;
    height: 50px;
}

.messageComposeContainer .genericButton {
    border-radius: unset;
    padding: 0 30px;
}