.messageContainer {
    flex: 1;
    overflow-y: hidden;
}

.welcomeMessage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messengerContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messengerHeader P {
    margin: unset;
}

.messengerHeader,
.messagesContainer {
    padding: var(--spacing);
}

.messagesContainer {
    flex: 1;
    overflow-y: scroll;
}